<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Description</title>
</head>
<body>
    <h1><%- product.name %></h1>
    <ul>
        <li><%- product.price %></li>
        <li><%- product.category %></li>
    </ul>
    <a href="/products/<%- product._id.toString() %>/edit">Edit the Product</a>
    <a href="/products">Go Back to the Main Page</a>
    <form id="deleteProductForm" action="/products/<%- product._id.toString() %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>      
</body>
</html>